.apps-container {

    background-color: #F7F7F2;
    border-bottom: 1px solid #c3c3c3;

    .hero-container1 {

        background-color: #F7F7F2;

        .hero-wrapper1 {
            padding: 256px 24px 176px;
            background-color: #F7F7F2;
            max-width: 928px;
            // padding: 96px 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            .hero-title {
                margin: 0 0 96px;

                p {
                    color: #141414;
                    font-size: 97px;
                }
            }

            .hero-desc1 {
                text-align: center;
                justify-content: center;

                p {
                    color: black;
                    text-align: center;
                    font-size: 36px;
                }
            }

            .hero-desc2 {
                text-align: center;
                justify-content: center;

                p {
                    text-align: center;
                    font-size: 36px;
                    color: #00000080;
                }
            }
        }
    }

    .img-apps-wrapper {
        background-color: #DADEE6;
        margin: 0 0 16px;
        display: flex;
        // align-items: center;
        justify-content: center;
        margin-bottom: 0;

        img {
            padding-top: 88px;
            max-width: 928px;
            max-height: 848px;
        }
    }

    .under-img {
        text-align: center;
        padding-top: 10px;

        small {
            text-align: center;
            font-size: 12px;
            line-height: 20px;
            color: #727272;
            // letter-spacing: 0.1cm;
        }

        
    }

    .list-container1 {
        background-color: #F7F7F2;

        display: grid;
        row-gap: 88px;
        align-items: center;
        justify-content: center;
        padding: 176px 0 0;
        // border-bottom: 1px solid #727272;
        padding-bottom: 88px;

        

        .list-wrapper {
            max-width: 928px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-top: 1px solid #c3c3c3;
            row-gap: 88px;
            flex-wrap: wrap;


            &:last-child {
                border-bottom: 1px solid #c3c3c3;
                padding-bottom: 88px;
            }


            .list-center {
                margin-top: 88px;
                display: flex;
                // justify-content: center;
                // align-items: center;



                .list-title {
                    width: 50%;
                    text-align: start;

                    p {
                        width: 40%;
                        text-align: start;
                        font-size: 28px;
                        color: #141414;
                        line-height: 120%;
                    }
                }

                .list-desc {
                    width: 50%;
                    text-align: start;

                    p {
                        font-size: 24px;
                        color: #00000080;
                    }
                }
            }
        }
    }
    
    .img-container1 {


        max-width: 928px;
        background-color: #F7F7F2;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: #727272;
        padding: 152px 24px 232px;
     

        .img1 {

            img {
                max-width: 100%;
                border-radius: 20px;
            }

            p {
                font-size: 10px;
                padding: 15px 0;
            }
        }

        .imgimg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 2rem;


            .img2 {
                width: 50%;
                padding-right: 5px;

                img {
                    max-width: 100%;

                    border-radius: 20px;
                }

                p {
                    font-size: 10px;
                    padding: 15px 0;
                }
            }

            .img3 {
                width: 50%;
                padding-left: 5px;


                img {
                    max-width: 100%;

                    border-radius: 20px;
                }

                p {
                    font-size: 10px;
                    padding: 15px 0;
                }
            }
        }
    }

}