* {
    margin: 0;
    padding: 0;
  }

  .Footer__body {
    font-family: 'Roboto', sans-serif;

    .footer {
      background-color: white;
      padding: 48px 76px;
      --fallback-fonts: "Sequel Sans Book", system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      margin-top: 30px;

      .content {
        --text_color: #727272;
        margin: 0 auto;
        max-width: 1100px; /* Adjust this width as needed */
        letter-spacing: 0.5px;


        .container {
          display: flex;
          justify-content: space-between;
          align-items: flex-start; /* Align items at the start of the container */
          flex-wrap: wrap;
          gap: 20px;
        }
        .footer-pages {
            display: flex;
            flex-direction: row;

        .footer__part {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 20px;
          color: #001391;
          gap: 17px;
          align-items: flex-start;
          margin-bottom: 2.5rem;
          box-sizing: border-box;
          padding: 10px 30px;

          .runnerImg {
            width: 200px;
            height: auto;
          }

          .atlasImg {
            width: 150px;
            height: auto;
          }

          .footer__grey {
            color: #727272;
            font-weight: bold;
          }

          .footer__blue {
            color: #001391;
            font-family: "ApercuMono Pro Medium", var("Sequel Sans Book", system-ui, -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif);
            font-weight: bold;
            text-decoration: none;
            border-bottom: 1px solid transparent;

            &:hover {
              text-decoration: underline;
            }
          }
        }
    }

        hr {
          border-color: #001391;
          margin-top: -70px;
          width: 100%;
        }
      }
    }
  }
